@model Demographic_Website.Models.Population

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Population</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopulationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopulationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PopulationNickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PopulationNickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenIdentificationCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenIdentificationCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Relationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidenceBooklet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidenceBooklet.ResidenceBookletId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PopulationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
