@model IEnumerable<Demographic_Website.Models.Population>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<span id="pdf" class="btn btn-primary">pdf</span>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PopulationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopulationNickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ethnicity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitizenIdentificationCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidenceBooklet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PopulationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopulationNickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CitizenIdentificationCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidenceBooklet.ResidenceBookletId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PopulationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PopulationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PopulationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


    <script>
            $('#pdf').click(function () {
                console.log("adada");
                $.ajax({
                    url: '/Populations/ExportPdf',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        window.location.reload();
                    }
                });
            });
    </script>

