@model Demographic_Website.Models.ResidenceBooklet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ResidenceBooklet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidenceBookletCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidenceBookletCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoveReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookletArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookletArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResidenceBookletId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
